
* {
    box-sizing: border-box;
    padding: unset;
    margin: unset;
}

/*Desktop View: 992px and above*/
body {
    background-color: #EFEFED;
}

h1 {
    font-size: 5vw;
    color: #734468;
    text-align: center;
}

h2 {
    background-color: #7D7EA1;
    color: black;
    text-align: right;
    margin-left: 5vw;
    border-bottom: 1vw solid #734468;
    border-left: 1vw solid #734468;
}

.first {
    margin-left: 10vw;
    float: left;
}

.second {
    float: left;
}

.last {
    margin-right: 10vw;
    float: left;
}

section {
    border: 1vw solid #734468 ;
    height: 30vh;
    width: 20vw;
    margin: 10vh 5vw 0vh 5vw;
}

p {
    text-align: center;
    margin-top: 3vh;
}



@media screen and (max-width: 767px) {
    /*Mobile View: 767px and below*/

    section {
        border: 1vw solid #734468;
        height: 30vh;
        width: 20vw;
        margin: 10vh 5vw 0vh 5vw;
    }
}

@media screen and (max-width: 991px) {
    /*Tablet View: 991px to 768px*/
    .first {
        margin-left: 10vw;
        float: left;
    }

    .second {
        float: left;
    }

    .last {
        margin-right: 10vw;
        float: left;
    }

    section {
        border: 1vw solid #734468;
        height: 30vh;
        width: 20vw;
        margin: 10vh 5vw 0vh 5vw;
    }
}
