
* {
    box-sizing: border-box;
    padding: unset;
    margin: unset;
}

/*Desktop View: 992px and above*/
body {
    background-color: #lightcyan;
}

h1 {
    font-size: 5vw;
    color: #734468;
    text-align: center;
}

h2 {
    background-color: #7D7EA1;
    color: black;
    text-align: right;
    margin-left: 60%;
    padding-right: 1px;
    border-bottom: 5px solid #734468;
    border-left: 5px solid #734468;
}

.first {
    margin-left: 10vw;
    float: left;
}

.second {
    float: left;
}

.last {
    margin-right: 10vw;
    float: left;
}

section {
    border: 5px solid #734468;
    height: 30vh;
    width: 20vw;
    margin: 10vh 5vw 0vh 5vw;
}

p {
    text-align: center;
    margin-top: 3vh;
}



@media screen and (max-width: 991px) {

    /*tablet View: 768px to 991*/
    .first {
        margin-right: unset;
        float: left;
    }

    .second {
        margin-left: 5vw;
        float: left;
    }

    .last {
        margin-top: 5vh;
        margin-right: unset;
        float: left;
        width: 80vw;
    }

    section {
        border: 5px solid #734468;
        height: 30vh;
        width: 37.5vw;
        margin: 10vh 0vw 0vh 10vw;
    }
}

@media screen and (max-width: 767px) {

    /*Mobile View: 767px and below*/
    .first {
        float: unset;
    }

    .second {
        margin-left: 10vw;
        float: unset;
    }

    .last {
        margin-right: unset;
        float: unset;
    }

    section {
        border: 5px solid #734468;
        height: 30vh;
        width: 80vw;
        margin: 5vh 0vw 0vh 10vw;
    }
}
